.Weather {
  border: 1px solid grey;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 25px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(236, 241, 239);
}
.Weather h1 {
  line-height: 20px;
  padding: 25px;
  text-align: center;
  font-size: 30px;
}
.Weather li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 18px;
}
.Weather p {
  text-align: center;
  font-size: 25px;
  color: rgb(135, 135, 135);
}
.Weather .temperature {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}
.Weather canvas {
  display: block;
  margin: 0 auto;
}
.Weather .unit {
  font-size: 10px;
  position: relative;
  top: -25px;
}
.Weather .tempWeather {
  display: block;
  text-align: center;
}
